@import "./font";
@import "./reset";

body{
  font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.page-wrap{
  background-color: #f5f5f5;
}

.main {
  display: flex;
  gap:2rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 6rem;
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  border-radius: 2rem 2rem 0 0;
}